* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 125px 4fr;
}

header {
	display: flex;
	grid-column: 1/-1;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #1971c2;
	/* height: max(125px, 20vh); */
	height: auto;
}

aside {
	height: 100%;
	background-color: #d0ebff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	padding: 20px;
}

aside ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.aside-icon {
	height: 10px;
	width: auto;
}

.collapsible {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: space-between;
}

.collapsible-aside {
	display: flex;
	gap: 15px;
	align-items: center;
}

.todo-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* width: 100px; */
	gap: 20px;
}

.todo-icon {
	height: 20px;
	width: auto;
}

.add-checklist-icon {
	height: 10px;
}

.todo-steps {
	margin-left: 60px;
	list-style: none;
}

.drop-list button {
	margin-top: 15px;
	padding: 0 2px;
	margin-left: 60px;
}

.todo-steps li {
	display: flex;
	align-items: center;
	gap: 10px;
}

.drop-list li {
	margin-top: 15px;
}

.drop-list,
.dropdown-icon {
	display: none;
}

.todo-notes {
	margin: 30px;
	display: none;
}

textarea {
	padding: 30px;
}

.active {
	display: block;
}

.main-display {
	grid-column: 1 -1;
}

.todo {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-between;
	/* border: 2px solid rgb(73, 72, 72); */
	border-radius: 10px;
	background-color: #e7f5ff;
	margin: 60px 30px;
	padding: 15px 30px;
}

/* input form */
.add-checklist-item {
	height: fit-content;
	width: fit-content;
	padding: 5px;
}

form {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
	background-color: #e9ecef;
	margin: 60px 30px;
	padding: 10px 20px;
}

form button {
	border: none;
}

.delete-project {
	height: 15px;
	width: auto;
}

aside li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.folder-list-container {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.hidden {
	display: none;
}
